---
layout: base
title: Contact
permalink: /contact-us/
---

<div id="contact" class="section container fade-in-section">
    <h2>Contact Us</h2>
    <p>For any inquiry please, Fill out the form below or contact us directly.</p>
    
    <form id="whatsapp-form" class="contact-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="inquiry">Inquiry Type:</label>
        <input type="text" id="inquiry" name="inquiry" required placeholder="e.g., Product Info, Shop Address">

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button type="submit">Send Message</button>
    </form>

    <p>
        Address :   Daal Kuan, College Road, Sahibganj, 816109<br>
        Phone :  <a href="tel:+917250470009" style="color: inherit; text-decoration: none;">+91 72504 70009</a><br>
        Email :   alifladiestailor@gmail.com<br>
        Hours :   11:00 am to 9:00pm
    </p>
    
    <iframe src="google.com/maps0" width="100%" height="450" style="border:0; border-radius: 8px; margin-top: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    <div class="social-links">
        <a href="https://www.instagram.com/alif_lstr?igsh=MWRsY3ZkcWJjdDFuNw==" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/share/16x8xdygPb/" target="_blank">Facebook</a>
        <a href="----error----" target="_blank">Twitter</a>
    </div>
</div>
